In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib as plot
from matplotlib import pyplot as plt
import seaborn as sns
import datetime as dt
#from fbprophet import Prophet

In [21]:

country_info={
    "country": [
        'Belgium',
        'Chile',
        'Denmark',
        'Germany',
        'Israel',
        'Italy',
        'Mexico',
        'Romania',
        'United Kingdom',
        'United States'],
        "population":[
11632326,
19212361,
5813298,
83900473,
8745875,
60367477,
130262216,
19127774,
68207116,
332915073]
}

In [22]:
country_info

{'country': ['Belgium',
  'Chile',
  'Denmark',
  'Germany',
  'Israel',
  'Italy',
  'Mexico',
  'Romania',
  'United Kingdom',
  'United States'],
 'population': [11632326,
  19212361,
  5813298,
  83900473,
  8745875,
  60367477,
  130262216,
  19127774,
  68207116,
  332915073]}

In [23]:
country_info_df= pd.DataFrame(data = country_info)

In [26]:
country_info_df.dtypes

country       object
population     int64
dtype: object

In [25]:
#weather["Temp"] = weather["Temp"].convert_objects(convert_numeric=True)
country_info_df["country"] =country_info_df["country"].astype(str)

In [20]:
country_info_df["population"] =country_info_df["population"].convert_objects(convert_numeric=True)

AttributeError: 'Series' object has no attribute 'convert_objects'

In [27]:
country_info_df

          country  population
0         Belgium    11632326
1           Chile    19212361
2         Denmark     5813298
3         Germany    83900473
4          Israel     8745875
5           Italy    60367477
6          Mexico   130262216
7         Romania    19127774
8  United Kingdom    68207116
9   United States   332915073